.slideshow {
    position: relative;
    width: 100%;
    height: 90vh; /* Full viewport height */
}

.slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    transition: opacity 1s ease-in-out; /* Smooth transition effect */
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0; /* Start hidden */
}

.slideshow-image.fade-in {
    opacity: 1; /* Fully visible */
}

.slideshow-image.fade-out {
    opacity: 0; /* Fully hidden */
}
